<div class="modal fade" id="modal_delete{{ user.id }}" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                {% trans from "translate" %}delete_message{% endtrans %}
            </div>
            <div class="modal-body">
                <p class="text-left">#<b>{{ user.id }}</b></p>
                <p class="text-left"><b>{{ user.firstName }} {{ user.lastName }}</b></p>
                <p class="text-left"><b>{{ user.email }}</b></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans from "translate" %}cancel{% endtrans %}</button>
                <form method="post" action="{{ path("app_user_delete", {id: user.id}) }}"
                      style="display: inline-block">
                    <input type="hidden" name="_method" value="delete">
                    <input type="hidden" name="_token" data-bs-toggle="modal"
                           data-bs-target="#confirm-submit{{ user.id }}"
                           value="{{ csrf_token('delete' ~ user.id) }}">
                    <button class="btn btn-danger">{% trans from "translate" %}delete{% endtrans %}</button>
                </form>
            </div>
        </div>
    </div>
</div>