{% extends 'base.html.twig' %}

{% block title %}{% trans from "translate" %}user_index{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans from "translate" %}user_index{% endtrans %}</h1>

    <br>

    <div class="d-flex w-100 justify-content-start btn-wrapper"> 
        <a class="btn custom-btn" href="{{ path('app_user_new') }}"> {% trans from "translate" %}create_new{% endtrans %}</a>
    </div>


    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th>{% trans from "translate" %}id{% endtrans %}</th>
                <th>Email</th>
                <th>{% trans from "translate" %}first_name{% endtrans %}</th>
                <th>{% trans from "translate" %}last_name{% endtrans %}</th>
                <th>{% trans from "translate" %}is_verified{% endtrans %}</th>
                <th>{% trans from "translate" %}actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td> 
                    {% if user.isVerified %} 
                        {% trans from "translate" %}yes{% endtrans %} 
                    {% else %} 
                        {% trans from "translate" %}no{% endtrans %} 
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}"> <i class="fa fa-eye" title="{% trans from "translate" %}show{% endtrans %}"></i> </a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}"><i class="fas fa-pen" {% trans from "translate" %}edit{% endtrans %}"></i> </a>
                    <a href="/admin/user/{{user.id}}/roles"> 
                        {% if 'ROLE_ADMIN' in user.roles and app.user.id is not same as user.id %}  
                           <i class="fas fa-user" title="{% trans from "translate" %}convert_as.user{% endtrans %}"></i> 
                        {% elseif app.user.id is not same as user.id %} 
                           <i class="fas fa-user-tie" title="{% trans from "translate" %}convert_as.admin {% endtrans %}"></i> 
                        {% endif %}</a> 
                    {% if 'ROLE_ADMIN' in app.user.roles and app.user.id is not same as user.id %} 
                        <a href="/dashboard?_switch_user={{user.email}}">
                            <i class="fas fa-sign-in-alt" title="{% trans from "translate" %}login_as{% endtrans %}"></i>
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8"> {% trans from "translate" %}no_record{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
